<!DOCTYPE html>
<html>
  <!-- old 'AcmeWebBundle:Frontend/Common:head.html.twig' changed to:-->
  {% include 'z_layouts/Common/head.html.twig' %}
  <body>
    <div class="windowwrapper">
      {% include 'z_layouts/Common/header.html.twig' %}

      {% block beforepagecontent%}
      {% endblock %}

      <main>
      {% block pagecontent %}
      {% endblock %}
      </main>

        {% include 'z_layouts/Common/footer.html.twig' %}
    </div>
  </body>
</html>