<footer class="texture-gray-3">
  <div class="rowwrapper" style="padding-top: 35px">
    <div class="columns">
      <h2>新闻中心</h2>
      <ul>
        <li>公司新闻</li>
        <li>媒体关注</li>
        <li>多媒体资源</li>
      </ul>
    </div>
    <div class="columns">
      <h2>投资者关系</h2>
      <ul>
        <li>临时公告</li>
        <li>定期报告</li>
        <li>投资者关系管理部</li>
      </ul>
    </div>
    <div class="columns">
      <h2>招贤纳士</h2>
      <ul>
        <li>社会招聘</li>
        <li>实习生招聘</li>
        <li>校园招聘</li>
      </ul>
    </div>
    <div class="columns">
      <h2>关于我们</h2>
      <ul>
        <li>公司信息</li>
        <li>公司荣誉</li>
        <li>社会责任</li>
        <li>品牌资源</li>
      </ul>
    </div>
    <div class="columns">
      <h2>常用链接</h2>
      <ul>
        <li>市场活动</li>
        <li>展会信息</li>
        <li>多媒体资源</li>
      </ul>
    </div>
    <div class="columns">
      <h2>供应商平台</h2>
      <ul>
        <li>自我推荐</li>
        <li>内控部</li>
        <li>供方导入资源</li>
      </ul>
    </div>
    <div style="width: 272px;float: left; padding-left: 40px;border-left:2px groove #bbb;">
      <h2>全球营销网络</h2>
      <img src="/img/worldmap.png">
    </div>
    
  </div>

</footer>