<header>
  <div style="height:54px;width:1182px;margin:0 auto;padding-top: 28px">
    <div style="float: left">
      <a href="/">
        <img src="http://www.hikvision.com/cn/images/logo.png">
      </a>
    </div>
  </div>
  <nav class="hmenu">
    <div class="rowwrapper">
      <ul>
        <li>
          <a href="/">首  页</a>
        </li>
        <li>
          <a href="/product" id="prod">产品中心</a>
          <div class="submenu">
            <div class="submenuinner">
              <ul>
                <li>摄像头</li>
                <li>摄像机</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="/">解决方案</a>
          <div class="submenu">
            <div class="submenuinner">
              <ul>
                <li>摄像头</li>
                <li>摄像机</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="/">服务支持</a>
        </li>
        <li>
          <a href="/">关于我们</a>
        </li>
        <li>
          <a href="/">新闻中心</a>
        </li>
        <li>
          <a href="/">供应商平台</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script type="text/javascript" src="/js/nav_toggleClass.js">

</script>