<link rel="stylesheet" type="text/css" href="/css/flickerplate.css">
<script type="text/javascript" src="/js/flickerplate.js"></script>

  <div class="slideshow">
    <ul>
      <li data-background="http://az29176.vo.msecnd.net/videocontent/BerneseAlps_NimiaRM_336168_768_HD_ZH-CN854489044.jpg">
        <div class="flick-title">
          测试中，大标题
        </div>
        <div class="flick-sub">
          小标题写在这里
        </div>
      </li>
      <li data-background="http://s.cn.bing.net/az/hprichbg/rb/CapeSebastian_ZH-CN9469145123_1920x1080.jpg">
        <div class="flick-title">
          第二个大标题
        </div>
        <div class="flick-sub">
          第二个小标题
        </div>
      </li>
      <li data-background="http://s.cn.bing.net/az/hprichbg/rb/FireEscapes_ZH-CN9251582421_1920x1080.jpg">
        <div class="flick-title">
          第二个大标题
        </div>
        <div class="flick-sub">
          第二个小标题
        </div>
      </li>
      <li data-background="http://s.cn.bing.net/az/hprichbg/rb/HenkelGecko_ZH-CN11306915158_1920x1080.jpg">
        <div class="flick-title">
          第二个大标题
        </div>
        <div class="flick-sub">
          第二个小标题
        </div>
      </li>
    </ul>
  </div>
<script type="text/javascript">
  new flickerplate({
    selector: '.slideshow',
    autoFlickDelay: 5
  });
</script>