{% block pagecontent %}
  <link rel="stylesheet" type="text/css" href="/css/front_index.css">
  <div class="newsbar grad-ed">
    <div class="newsbarinner">
      ssss
    </div>
  </div>
  <div class="pagewrapper">
    <div style="padding:20px 0" class="hotproduct">
      <ul class="hotproductinner">
        <li>
          <h2>热点产品</h2>
          <div class="hotprodabstr grad-e6">
            <div style="width:143px;height:100%;float:left;">
              <img src="http://www.hikvision.com/uploadfile/image/product/middle/20141106094336441.jpg" style="width: 100%;height: 137px">
            </div>
            <div style="padding:14px 6px; float: left;">
              <a><h2>大摄像头哈哈</h2></a>
            </div>
          </div>
        </li>
        <li>
          <h2>最佳实践</h2>
          <div class="hotprodabstr grad-e6">
            
          </div>
        </li>
        <li>
          <h2>最新活动</h2>
          <div class="hotprodabstr grad-e6">
            
          </div>
        </li>
        <li>
          <h2>视频中心</h2>
          <div class="hotprodabstr grad-e6">
            
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}